<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
</head>
<body>
<ul>
    <li>
        <a href="/">Главная страница</a>
    </li>
    <li>
        <a href="/contacts">Контакты</a>
    </li>
</ul>
<!--таблица куда будем рендерить данные-->
<!--здесь нужно указать с помощью шаблонизатора специальную переменную-->
<!--но в таком виде передать не очень удобно - обычно передают в упакованном виде - например с помощью dict-->
<!--<ul>-->
<!--    <li>-->
<!--        Марка: {{model}}-->
<!--    </li>-->
<!--    <li>-->
<!--        Стоимость: {{price}}-->
<!--    </li>-->

<!--</ul>-->
<ul>
    <li>
        Марка: {{data['model']}}
    </li>
    <li>
        Стоимость: {{data['price']}}
    </li>

</ul>


</body>
</html>