<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars FORM</title>
</head>
<body>
<!--  ДОБАВИМ ФОРМУ В html документ и затем передадим из одного html документа      -->
<!-- передать в другой- там получить обработать и вывести т.е как-то использовать  -->
<ul>
    <li>
        <a href="/">Главная страница</a>
    </li>
    <li>
        <a href="/cars">Авто</a>
    </li>
    <li>
        <a href="/moto">Мото</a>
    </li>
    <li>
        <a href="/cars_form" class = class2>АВТО С ФОРМОЙ</a>
    </li>
</ul>

<ul>
    <li>
        Марка: {{data['model']}}
    </li>
    <li>
        Стоимость: {{data['price']}}
    </li>

</ul>




</body>
</html>