<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<ul>
    <li>
        <a href="/">Главная страница</a>
    </li>
    <li>
        <a href="/cars" class="class1">Авто</a>
    </li>
    <li>
        <a href="/moto">Мото</a>
    </li>
    <li>
        <a href="/cars_form" class = class2>АВТО С ФОРМОЙ</a>
    </li>
</ul>

<ul>
    <li>
        Марка: {{ model }}
    </li>
    <li>
        Стоимость: {{ price }}
    </li>
</ul>


<!--бывает так что у нас в html документах не словарь а находятся некоторые отдельные взятые переменные не связанные друг с другом-->
<!--общей структурой словаря и их допустим очень много -  количество которое здесь писать/прописываьт очень тяжело(return render_template('contacts.html', data = data)-->
<!--ЕСТЬ еще один способ передачи данных-->
<!--БУДЕМ В htmt шаблоне конкретными значенями и словарем а передовать будем всетаки словарь-->
<!--data декорируется двумя звездочками в return render_template('moto.html', **data) в moto.html уже будут самые обычные переменные-->
<!--те. не ключи а ключи того словаря который передается-->
<!--ВАЖНО УБРАТЬ СТРОКИ НИЖЕ ЧТО БЫ РАБОТАЛО-->






</body>
</html>

