<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Contacts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="dop-block1">
    <div class="block1">
        <h4><span class="badge badge-secondary">контакты</span></h4><br>
        <h2> пишите и звоните 24/7 </h2><br>
        <p> тел. +7 000 000-00-00 </p><br>
        <p> e-mail: 000_00_00@yandex.ru</p><br>
        <a href="/" class="badge badge-primary"> на главную страницу</a><br>
    </div>
</div>

</body>
</html>
