<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="dop-block2">
        <div>
            <table class="table table-bordered table-condensed">
                <caption style="caption-side: top; margin-left: 25px;">
                     Здесь можно просмотреть Ваши запросы
                </caption>
                <thead>
                    <tr class="table-active">
                        <th> ID </th><th> spec </th><th> sallary </th><th> location </th><th> comment </th><th> commentcity </th> <th> mid_sal_from </th><th> mid_sal_to </th><th> all_found </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-success">
                        <td> {{data['id']}} </td> <td> {{data['spec']}} </td> <td> {{data['sallary']}}  </td> <td> {{data['location']}}  </td> <td> {{data['comment']}}  </td> <td> {{data['commentcity']}}  </td> <td> {{data['mid_sal_from']}}  </td> <td> {{data['mid_sal_to']}}  </td> <td> {{data['all_found']}} </td>
                    </tr>
                </tbody>
            </table>
            <br/>
         </div>

   </div>

    <div>
        <div class="block2">
            <p><img src = 'static/img/hh_imj.jpg'></p>
            <p>РЕЗУЛЬТАТЫ ВАШЕГО ТЕКУЩЕГО ЗАПРОСА:</p>
            <p>зарплата {{data['spec']}}-разработчика в {{data['location']}} для выбранной зарплаты от {{data['sallary']}}</p>
            <p>составляет в среднем  от {{data['mid_sal_from']}}руб. до {{data['mid_sal_to']}}руб.</p>
            <ul>
                <li>
                        ID: {{data['id']}}
                </li>
                <li>
                        специализация: {{data['spec']}}
                </li>
                <li>
                        зарплата: {{data['sallary']}}
                </li>
                <li>
                        город: {{data['location']}}
                </li>
                <li>
                        удаленный режим работы: {{data['work_place']}}
                </li>
                <li>
                        коммент : {{data['comment']}}
                </li>
                <li>
                        коммент : {{data['commentcity']}}
                </li>
                <li>
                        минимальная зарплата ( в среднем): {{data['mid_sal_from']}}
                </li>
                <li>
                        максимальня зарплата ( в среднем): {{data['mid_sal_to']}}
                </li>
                <li>
                        всего вакансий : {{data['all_found']}}
                </li>
                <li>
                        вакансий с з/п в USD: {{data['salary_USD']}}
                </li>
            </ul>

            <p><a href="/" class="badge badge-primary">На главную</a></p>

        </div>
    </div>






</body>
</html>